[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An open source, embedded, high performance g-code-parser and CNC milling controller written in optimized C based on gnea/grbl project
[access "refs/*"]
	owner = group user/upanie
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/upanie
	label-Verified = -1..+1 group user/upanie
	push = group user/upanie
	read = group user/upanie
	rebase = group user/upanie
	removeReviewer = group user/upanie
	submit = group user/upanie
[access "refs/heads/*"]
	create = group user/upanie
	push = +force group user/upanie
	pushMerge = group user/upanie
	read = group user/upanie
[access "refs/tags/*"]
	push = group user/upanie
	push = +force group user/upanie
